//background color 
$bg_colorg:gray;
$bg_colorb:brown;
$bg_colorp:pink;
$bg_colort:teal;


// style for all
$style_padding:10px;
$style_border:2px solid black;
$style_margin:50px auto;
$style_text:center;

// div style 
$div_left:left;
$div_right:right;
$div_wid:45%;
$div_het:400px;
$div_het2:350px;
$div_margin:10px;

// body style
$body_border:3px solid black;
$bodybg_color:lightgray;
$body_width:700px;

// p style 
$p_font:22px bold tahoma;
$p_text:center;
$p_color:black;


// main 
$main_Equl:50%;
$main_postion:absolute;
$main_trans: translate(-50%,-50%);











