@import "../helpers/variabl/variabl","../helpers/mixin/mixin.scss","../layout/footer";

header{
    @include headerstyle();
}

body{
    // border: $body_border;
    background-color: $bodybg_color;
    width:$body_width;
}
p{
    font:$p_font;
    text-align: $p_text;
    color: $p_color;
}
.pernt{
    border: $style_border;
    width: $header_width;
    height: $div_het;


}
.childone{
border: $header_border;
background-color: $bg_colorb;
float: $div_right;
width: $div_wid;
   height: $div_het2;
   margin: $div_margin;


}
.childtwo{
    border: $header_border;
background-color: $bg_colorb;
float: $div_left;
width: $div_wid;
height: $div_het2;
margin: $div_margin;


}
footer{

    @include footermixin();

}
.main{
  
    position: $main_postion;
    top: $main_Equl;
    left: $main_Equl;
    transform:$main_trans;

}